/RESTEasy-Hello-World-Example/.metadata/
/RESTEasy-Hello-World-Example/tomcat-8.0.36/
/RESTEasy-Hello-World-Example/Servers/
/RESTEasy-Hello-World-Example/RESTfulExample/.settings/
/RESTEasy-Hello-World-Example/RESTfulExample/target/
/calico/InterfacesCalico/InterfacesCalico/obj/
/calico/InterfacesCalico/InterfacesCalico/bin/
/calico/InterfacesCalico/.vs/
