/RESTEasy-Hello-World-Example/.metadata/
/RESTEasy-Hello-World-Example/tomcat-8.0.36/
/RESTEasy-Hello-World-Example/Servers/
/RESTEasy-Hello-World-Example/RESTfulExample/.settings/
/RESTEasy-Hello-World-Example/RESTfulExample/target/
/calico/InterfacesCalico/Calico/obj
/calico/InterfacesCalico/Calico/bin
/calico/InterfacesCalico/.vs
