<connectionStrings>
    <add name="CalicoEntities" connectionString="metadata=res://*/Persistencia.ModelCalico.csdl|res://*/Persistencia.ModelCalico.ssdl|res://*/Persistencia.ModelCalico.msl;provider=System.Data.SqlClient;provider connection string=&quot;
		data source=I120073;
		initial catalog=DB_INTERFAZ;
		persist security info=True;
		user id=DAMIAN;
		password=DAMIAN666;
		MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
